In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
full_df = pd.concat([pd.read_csv('data/Challenger_Ranked_Games.csv'),pd.read_csv('data/GrandMaster_Ranked_Games.csv'),pd.read_csv('data/Master_Ranked_Games.csv')])
full_df.head()

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,4247263043,1323,0,1,0,0,0,0,0,0,...,68,73016,49832,533,64,12.8,138,8,38711,60463
1,4247155821,1317,1,0,0,0,1,0,2,0,...,8,44218,37136,571,59,11.8,134,3,24829,14105
2,4243963257,932,0,0,0,0,0,0,0,0,...,20,30797,35364,400,50,10.0,89,5,12589,45201
3,4241678498,2098,0,0,0,1,1,0,1,1,...,72,125866,70528,832,84,16.8,205,9,65312,88202
4,4241538868,2344,1,1,1,1,1,1,2,2,...,83,131536,74596,794,85,17.0,227,7,86431,64141

In [3]:
len(full_df)

199925

In [4]:
full_df.describe()

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
count,1.999250e+05,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,...,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000
mean,4.165346e+09,1433.434008,0.495956,0.506535,0.515863,0.236684,0.403616,0.382794,1.356744,0.297737,...,40.247978,69241.998725,48022.229046,505.554458,64.914903,12.982981,125.729318,5.682716,24775.338692,36892.539087
std,9.232801e+07,432.490237,0.499985,0.499959,0.499750,0.425048,0.490623,0.486070,1.254504,0.535042,...,29.041446,37440.925824,16271.618084,181.302212,14.953548,2.990710,66.887707,3.633332,15428.891250,26916.048868
min,3.163679e+09,132.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.136114e+09,1125.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,20.000000,41312.000000,36472.000000,386.000000,55.000000,11.000000,84.000000,3.000000,13596.000000,12739.000000
50%,4.191588e+09,1420.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,35.000000,64284.000000,48029.000000,522.000000,66.000000,13.200000,128.000000,5.000000,21733.000000,32483.000000
75%,4.222887e+09,1732.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,...,54.000000,90679.000000,59101.000000,631.000000,75.000000,15.000000,172.000000,8.000000,32589.000000,57311.000000
max,4.261026e+09,3758.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,4.000000,...,229.000000,359184.000000,141692.000000,1443.000000,145.000000,29.000000,488.000000,29.000000,206758.000000,197135.000000

In [5]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199925 entries, 0 to 107124
Data columns (total 50 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameId                   199925 non-null  int64
 1   gameDuraton              199925 non-null  int64
 2   blueWins                 199925 non-null  int64
 3   blueFirstBlood           199925 non-null  int64
 4   blueFirstTower           199925 non-null  int64
 5   blueFirstBaron           199925 non-null  int64
 6   blueFirstDragon          199925 non-null  int64
 7   blueFirstInhibitor       199925 non-null  int64
 8   blueDragonKills          199925 non-null  int64
 9   blueBaronKills           199925 non-null  int64
 10  blueTowerKills           199925 non-null  int64
 11  blueInhibitorKills       199925 non-null  int64
 12  blueWardPlaced           199925 non-null  int64
 13  blueWardkills            199925 non-null  int64
 14  blueKills                199925 non-null  int64
 15  blueDeath                199925 non-null  int64
 16  blueAssist               199925 non-null  int64
 17  blueChampionDamageDealt  199925 non-null  int64
 18  blueTotalGold            199925 non-null  int64
 19  blueTotalMinionKills     199925 non-null  int64
 20  blueTotalLevel           199925 non-null  int64
 21  blueAvgLevel             199925 non-null  float64
 22  blueJungleMinionKills    199925 non-null  int64
 23  blueKillingSpree         199925 non-null  int64
 24  blueTotalHeal            199925 non-null  int64
 25  blueObjectDamageDealt    199925 non-null  int64
 26  redWins                  199925 non-null  int64
 27  redFirstBlood            199925 non-null  int64
 28  redFirstTower            199925 non-null  int64
 29  redFirstBaron            199925 non-null  int64
 30  redFirstDragon           199925 non-null  int64
 31  redFirstInhibitor        199925 non-null  int64
 32  redDragonKills           199925 non-null  int64
 33  redBaronKills            199925 non-null  int64
 34  redTowerKills            199925 non-null  int64
 35  redInhibitorKills        199925 non-null  int64
 36  redWardPlaced            199925 non-null  int64
 37  redWardkills             199925 non-null  int64
 38  redKills                 199925 non-null  int64
 39  redDeath                 199925 non-null  int64
 40  redAssist                199925 non-null  int64
 41  redChampionDamageDealt   199925 non-null  int64
 42  redTotalGold             199925 non-null  int64
 43  redTotalMinionKills      199925 non-null  int64
 44  redTotalLevel            199925 non-null  int64
 45  redAvgLevel              199925 non-null  float64
 46  redJungleMinionKills     199925 non-null  int64
 47  redKillingSpree          199925 non-null  int64
 48  redTotalHeal             199925 non-null  int64
 49  redObjectDamageDealt     199925 non-null  int64
dtypes: float64(2), int64(48)
memory usage: 77.8 MB

In [6]:
full_df.corr()['blueWins'].sort_values(ascending=False)

blueWins                   1.000000
blueTowerKills             0.717463
blueFirstInhibitor         0.658354
blueInhibitorKills         0.574076
blueObjectDamageDealt      0.522638
blueFirstTower             0.465065
blueDragonKills            0.454920
blueKills                  0.418770
redDeath                   0.416843
blueKillingSpree           0.391922
blueFirstBaron             0.366600
blueBaronKills             0.353205
blueAssist                 0.333881
blueFirstDragon            0.271273
blueTotalGold              0.253280
blueFirstBlood             0.206563
blueJungleMinionKills      0.199203
blueAvgLevel               0.197920
blueTotalLevel             0.197920
blueTotalHeal              0.197769
blueChampionDamageDealt    0.158049
blueTotalMinionKills       0.068853
blueWardkills              0.063604
blueWardPlaced             0.026268
gameId                    -0.008509
gameDuraton               -0.017400
redWardPlaced             -0.060136
redWardkills              -0.098500
redTotalMinionKills       -0.101708
redChampionDamageDealt    -0.172681
redFirstBlood             -0.206992
redAvgLevel               -0.219959
redTotalLevel             -0.219959
redTotalHeal              -0.221568
redJungleMinionKills      -0.239547
redTotalGold              -0.274216
redFirstDragon            -0.275924
redAssist                 -0.334433
redBaronKills             -0.379211
redFirstBaron             -0.393278
redKillingSpree           -0.399225
blueDeath                 -0.420192
redKills                  -0.422315
redFirstTower             -0.464632
redDragonKills            -0.465617
redObjectDamageDealt      -0.551108
redInhibitorKills         -0.569259
redFirstInhibitor         -0.645034
redTowerKills             -0.722430
redWins                   -1.000000
Name: blueWins, dtype: float64

In [7]:
from sklearn.base import BaseEstimator,TransformerMixin

In [8]:
class dropdupes(BaseEstimator,TransformerMixin):
    def __init__(self,unique_column):
        self.unique_column = unique_column
    def fit(self,x,y=None):
        return self
    def transform(self,pipeline):
        return pipeline.drop_duplicates(self.unique_column)

In [9]:
class dropper(BaseEstimator,TransformerMixin):
    def __init__(self,columns):
        self.columns = columns
    def fit(self,x,y=None):
        return self
    def transform(self,pipeline):
        return pipeline.drop(self.columns,axis=1)

In [10]:
class Fieldtransformers(BaseEstimator,TransformerMixin):
    label = None
    def fit(self,x,y=None):
        return self
    def transform(self,X):
        df = pd.DataFrame()
        blue_columns = [x for x in X.columns if x.startswith('blue')]
        red_columns = [x.replace('blue','red') for x in blue_columns]
        for b,r in zip(blue_columns,red_columns):
            if r in X.columns:
                name = b.strip('blue')
                value = X[b] - X[r]
                df[name] = value
        self.label = df['Wins']
        return df.drop('Wins',axis=1)

In [11]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [12]:
pipe = Pipeline([
    ('dropdupes',dropdupes('gameId')),
    ('fieldtransform',Fieldtransformers()),
    ('scale',StandardScaler())
])

In [13]:
def label(pipeline):
    return pipeline.steps[1][1].label.values

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
train,test = train_test_split(full_df,test_size=0.2)

In [16]:
X_train = pipe.fit_transform(train)
y_train = label(pipe)

In [17]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
reg.fit(X_train, y_train)


from sklearn.model_selection import cross_val_score
cross_val_score(LogisticRegression(), X_train, y_train)

array([0.99084604, 0.99209614, 0.99189451, 0.99012017, 0.99076501])

In [18]:
X_test = pipe.transform(test)
y_test = label(pipe)

In [19]:
y_pred = reg.predict(X_test)

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [21]:
accuracy_score(y_test,y_pred)

0.9914267400245713

In [23]:
print(confusion_matrix(y_test,y_pred))

[[18731   163]
 [  158 18390]]